<a href="https://colab.research.google.com/github/Nourankh20/Data-Visualization/blob/main/Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
def get_path(dataset_name,env_name='colab'):
    """
    This function is used to return the path of the dataset you want to use. 
    
    @params:
    dataset_name: the name of the dataset. 
    env_name: it has two values either local, or colab the default is colab
    """
    prefix = 'https://raw.githubusercontent.com/Nourankh20/Data-Visualization/main/datasets/'
    if env_name == 'colab':
        return prefix+dataset_name
    else:
        return f'../datasets/{dataset_name}'

In [15]:
athlete_events_df =  pd.read_csv(get_path('athlete_events.csv'))

In [16]:
athlete_events_df.head()

   ID                      Name  ...                             Event  Medal
0   1                 A Dijiang  ...       Basketball Men's Basketball    NaN
1   2                  A Lamusi  ...      Judo Men's Extra-Lightweight    NaN
2   3       Gunnar Nielsen Aaby  ...           Football Men's Football    NaN
3   4      Edgar Lindenau Aabye  ...       Tug-Of-War Men's Tug-Of-War   Gold
4   5  Christine Jacoba Aaftink  ...  Speed Skating Women's 500 metres    NaN

[5 rows x 15 columns]

In [17]:
noc_regions = pd.read_csv(get_path('noc_regions.csv'))

In [18]:
noc_regions.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [27]:
athlete_events_df[athlete_events_df['Year']==2012]['City'].unique()

array(['London'], dtype=object)

In [28]:
df = pd.merge(athlete_events_df,noc_regions,left_on='NOC',right_on='NOC')

In [30]:
df.head()

     ID           Name Sex  ...  Medal  region  notes
0     1      A Dijiang   M  ...    NaN   China    NaN
1     2       A Lamusi   M  ...    NaN   China    NaN
2   602  Abudoureheman   M  ...    NaN   China    NaN
3  1463      Ai Linuer   M  ...    NaN   China    NaN
4  1464      Ai Yanhan   F  ...    NaN   China    NaN

[5 rows x 17 columns]